<div class="section">
    <div class="container"><br>
        <form action="">

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <input type="submit" class="text-center" value="submit">
        </form>
    </div>
    <br><br>
    <div class="text-center">Contact me on : </div><br>
    <div class="container">
        <div class="row">
            <div class="col-4 text-center">
                <a href="#"><img src="assets/whatsup-icon.png" width="25%" alt="whatsup"></a>
                <p class="text-center">9347235528 <br>Whats up</p>
            </div>
            <div class="col-4 text-center">
                <a href="#"><img src="assets/linkedin-icon.png" width="25%" alt="whatsup"></a>
                <p class="text-center">SkShoheb33 <br>LinkedIn</p>
            </div>
            <div class="col-4 text-center">
                <a href="#"><img src="assets/twitter-icon.png" width="25%" alt="whatsup"></a>
                <p class="text-center">SkShoheb33 <br>Twitter</p>
            </div>
        </div>
    </div>
</div>